.app-header {
  background-color: var(--clr5);
  background-color: rgb(87 238 255);
  color: var(--secondary-clr1);
  /* padding: 1em; */
}
.app-header{
  height: 7.5vh;
  background:#A6D1E6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  /* box-shadow: -1px 0 0 #395144, inset -1px 0 0 #395144; */
  transition: color .5s, box-shadow .5s;
  cursor: pointer;
}
.main-nav section {
  display: flex;
  justify-items: flex-end;
  margin-top: 0;
  margin-bottom: 0;
}
.main-nav {
  margin-left: inherit;
  /* margin-right: 380px; */
}
.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.main-nav,
a {
  text-decoration: none;
  color: #ffffff;
}

.hover:hover {
  box-shadow: inset 0 -6px 0 black;
}

.list:hover {
  color: black;
}
.router-link-active{
  color: black;
  box-shadow: inset 0 -3px 0 black;
}

@media(max-width: 720px) {
  .app-header {
    /* background-color: var(--clr3); */
    color: var(--secondary-clr2);
  }
}
