.app-header {
  background-color: var(--clr5);
  background-color: rgb(87 238 255);
  color: var(--secondary-clr1);
  padding: 1em;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

@media(max-width: 720px) {
  .app-header {
    /* background-color: var(--clr3); */
    color: var(--secondary-clr2);
  }
}
