@import './note-actions.css';
@import './note-todo.css';
@import './note-txt.css';
@import './note-list.css';

.color-pallet{
  display: flex;
  height: 50px;
  width: 150px;
  border: 1px solid black;
}
.color-red{
height: 40px;
width: 40px;
border-radius: 50%;
background-color: red;
}
.color-black{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: black;
}
.color-yellow{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: yellow;
}
.red{
  background-color: red;
}