.card {
    border-bottom: rgb(225, 225, 225) 1px solid;
    flex-basis: 40%;
    display: flex;
    text-align: center;
    padding: 10px;
    margin: 0px;
    flex: 1 1 0px;
    flex-basis: 25%;
    min-width: 200px;
    flex-grow: 0;
  }
  .cards-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }